<h1>Arena segédlet</h1>

<h2>Stratégia</h2>
<p>Kérem mindenki figyeljen a következőkre, amikor belép az arénába:</p>
<ul>
  <li>Öltözzetek harci ruházatba. Ne legyen rajtad kutatós, építős vagy bizalmasokhoz használt ruha. Ruhádon legyenek drága kövek, hogy tovább erősítsd magadat.</li>
  <li>Lehetőség szerint erősítsük meg a támadási képességünket, ha nincs akkor az élet növelés is meg teszi. Védelem erősítőket csak akkor használj ha nincs jobb.</li>
  <li>Figyeljük a fenti beszélgetéseket, lehetőség szerint fedjük le a teljes térképet és minimalizáljuk az utazásokat-relocator-, illetve a sereg gyorsítások használatát.</li>
  <li>Az eventhez nem szükséges nagy mennyiségű seregre és pontozásnál sem számít a győztes csaták száma ezért, aki teheti vegyen részt.</li>
  <li>Ha nincs meg a 30 fő, akkor lehet hozni altvárakat is. Ezekkel a legjobb stratégia, ha az elején elhejezünk legalább egy katonát a bevett fellegvárakon.</li>
  <li>Célszerű a fontosabb épületeket támogatni. Az őrtornyokon elhelyezett T4 és T5 katonák nem hoznak sok pontot és korlátozzák a birtokosuk támadó ereját, ha szét osztja őket.</li>
  <li>Pont gyűjtésnél fókuszálj a felled várakra és a karavánokra.</li>
  <li>Ha rendelkezel legalább T4 katonákkal, akkor biztosítsd, hogy prioritási sorrendben a ősi maradványok, források ne kerülhessenek ellenséges kézre. Emellett a karvánok útvonalának befoglalása is fontos</li>
  <li>Ha még csak T3 katonákkal rendelkezel, akkor biztosítsd a fellegvárakat és támogasd az erősebb várak álltal befoglalt erődítményeket.</li>
  <li>T1-vel és T2-vel minimális haderőt tudsz biztosítani, de ez is lehet fontos, ha a karaván útvonalát kell megerősíteni. Figyelj arra támogasd a több pontot biztosító erődítményeket és kerüld az erődítmének befoglalását. Az erődítmény</li>
</ul>

<h2>Általános információk:</h2>

<p>Játék menete:</p>
<ol>
  <li>Dragon Arena-ban a guildek egymás ellen teljesítenek; az erődmények befoglalásával pontokat szereznek.</li>
  <li>A különböző csodákat-wonders- erődítményeknek-strongholds- hívjuk. Ezek az őrtornyok-outopst-, állomások-transporters-, források-hot springs-, ősi maradványok-anchient remains-, fellegvárak-citadels-. Minden erődítmény változó mennyiségű pontot ho, ha befoglalod, tovább egyes erődítmények még speciális áldást is biztosít. A térkép közepén helyezkedik el a sárkány oltár-dragon altar-, ami kiindulási pontként szolgál a karavánok-caravans- számára. A sárkány oltárt nem lehet elfoglalni.</li>
  <li>Az erődítményt 3 percen keresztül folyamatosan uralnod kell, ahoz hogy pontot adjon a céh-guild- és egyéni eseményhez-solo event-.</li>
  <li>Ha a karaván elér egy erődítményt, akkor nagy mennyiségű ponthoz jutatja az erődítmény bírtokosát.</li>
  <li>Az esemény-event- alatt NEM veszíthetsz katonákat. A sérült katonák meggyógyulnak, az elhasznált csapdák helyre állnak és a falad visszaépül, amikor az arénát elhagyod.</li>
  <li>Az esemény leteltével, a céhek jutalmakban részesülnek a szerzett pontoknak megfelelően.</li>
  <li>Az eseményen a résztvevők sárkyánérchez-dragite- jutnak, amit a sárkányérc boltban-dragite shop- lehet felhasználni.</li>
</ol>

<p>Regisztráció</p>
<ol>
  <li>A résztvevő céhnek regisztrálnia kell magát ahoz, hogy részt vehessen az eseményen. Csak azok a céhek vehetnek részt, amelyek rendelkeznek legalább 30 darab 17-s vagy erősebb kastéllyal az event kezdete előtt.</li>
  <li>A legalább 4-s ranggal-rank- rendelkező játékosok feladata a céh regisztrálása és az időabblak kiválasztása. Az időablak módosítható a regisztrtációs idő alatt.</li>
  <li>A céhek nem biztos, hogy megkapják a választott időablakot és másikat kapnak. Ebben az esetben levélben-mail- értesülnek a változásokról.</li>
  <li>Az ellenfél kiválasztása a korábban szerzett kupák-cup- száma alapján dől el. A céhek csak a választott időablakban közelíthetik meg az arénát.</li>
  <li>Az ütközet kezdetétől a végéig a céh nem oszlatható fel.</li>
</ol>

<p>Ligák és kupák</p>

<ol>
  <li>A céhek ligákba kerülnek a céh bemutatókon-guild showdown. Az új céhek a kezdő ligából-newbie league- indulnak.</li>
  <li>A ligákban az előrehaladás függ a céh által szerzett kupáktól.</li>
  <li>A küzdelem kimenetelének megfelelően kap vagy veszít a céh kupákat. A kupák mennyisége a 2 céh által birtokolt kupák kölümbségből jön össze.</li>
  <li>A céh nem eshet vissza a ligából és nem veszít kupát ha nem vesz részt az eseményen.</li>
  <li>A rendszer párosíthat különböző ligákban lévő céheket is. Ekkor az alacsonyabb ligák-lower league- szabálya érvényesül.</li>
</ol>

<h2>Esemény szabályai:</h2>

<p>Részvétel követelményei:</p>
<ol>
  <li>A céhnek rendelkezni kell legalább 30 darab, legalább 17-s szintű kastéllyal a részvételhez.</li>
  <li>A regisztrációt követően mindenki részt vehet az esemyényen, aki teljesíti a fenti szabályt.</li>
  <li>Csak abban a céhben vehetsz részt az esemény alatt, amelyben vagy a regisztrációs időszak alatt.</li>
</ol>

<p>Belépés követelményei:</p>
<ol>
  <li>Rendelkezz legalább 17-s szintű várral</li>
  <li>Ne legyen sérült katonád a kórházban.</li>
  <li>Ne legyen sérült csapdád és legyen a falad maximális életű.</li>
  <li>A harci szellemnek-battle fury- inaktívnak kell lennie.</li>
  <li>A csapataid nem hagyhatják el a kastélyodat.</li>
  <li>Mindenkinek egy lehetősége van belépni az arénába, ha kiléptél nem tudsz vissza jönni.</li>
  <li>A résztvevők nem hagyhatják el a céhet és nem rughatók ki az esemény végéig.</li>
</ol>

<p>Az aréna elhagyása:</p>
<ol>
  <li>A pontjaid nem vesznek el az aréna elhagyásakor, viszont később nem tudsz vissza lépni a sárkány arénába.</li>
  <li>Az összes vezér-leader-, amelyet fogságban ejtettél az arénába, szabadá válnak távozásodkor.</li>
  <li>A fogságba esett vezéredet nem kapod vissza távozáskor csak, amikor a fogságuk letelik.</li>
  <li>Seregeid azonnal meggyógyulnak távozáskor.</li>
  <li>Csapdáidat megjavítva kapod vissza távozáskor, de a csapdák száma nem haladhatja meg a maximális csapdák számát. Ekkor a magasabb szintű csapdák javítása történi csak meg és a maradék csapda marad a javítandók között.</li>
</ol>

<p>Nyeremények:</p>
<ol>
  <li>Az ütközet végén a nyeremények kiosztásra kerülnek. A győztesek megkapják a győzteseknek járó jutalmat-victory rewards-, a vesztesek pedig a citrom díjat-consolidation rewards-.</li>
  <li>Döntetlen esetén, mindkét céh citrom díjat kap. A kupák is hasonlóan kerülnek kiosztásra.</li>
  <li>A nyeremények az esemény végén szétosztásra kerülnek. A céhben, amelybe tartoztál az eseményen, kell maradnod a jutalmak beváltásához.<br />Céh nyeremények-guild rewards-: Minden tag, aki a sárkány arénában tartózkodott, részesül ezekben a jutalmakban.<br />Egyéni nyeremények-solo rewards-: Az összes elért sávhoz tartozó nyeremény kiosztásra kerül. A sárkányérceket a sárkányérc boltban lehet beváltani.</li>
  <li>Ha egy céh nem jut ellenfélhez, akkor automatiokusan győz. Minden játékos, aki részt tudott volna venni, megkapja a jutalmat.</li>
</ol>

<h2>Menete:</h2>

A sárkány arénába lépéskor, a játékosok vagy a fenti, vagy a lenti védett részre teleportálódnak.

<p>Előkészületek:</p>
<ol>
  <li>Nincs teleportálás-relocation- vagy támadásra lehetőség.</li>
  <li>Végig lehet nézni a térképet az erődítmények felderítéséhez.</li>
  <li>A stratégiát és a felállást ekkor lehet eldönteni.</li>
</ol>

<p>Ütközet:</p>
<ol>
  <li>rész: őrtornyok és állomások foglalhatóvá válnak.</li>
  <li>rész: források, ősi maradványok és fellegvára foglalhatóvá válnak.</li>
  <li>rész: a karavánok véletlenszerűen választott útvonalakon elindulnak a fellegvárrak felé.</li>
</ol>

<p>Befejezés:</p>
<ol>
  <li>Az erődítmények védetté válnak. A karavánok eltünnek.</li>
  <li>A játékosok ellenőrizhetik az esemény kimenetelét. A magasabb pontszámmal rendelkező céh győz.</li>
  <li>A játékosok elhagyhatják az arénát vagy megvárhatják, amíg a rendszer magától visszadobja őket a világukba.</li>
</ol>

<p>Erődítményre vonatkozó szabályok:</p>
<ol>
  <li>A céhnek 3 percig kell birtokolnia egy erődítményt, hogy befolalnak minősüljön.</li>
  <li>Az erődítmények első bevételekor extra pont jár a birtokló céh részére. Az erődítmény őrző összes tag részesül egyéni-solo- pontokban.</li>
  <li>Másodpercenként adja a pontokat a befoglalt erődítmény mind egyéni és mind céh pontjaihoz.</li>
  <li>Magasabb ligákban több karaván indul. A karavánok eltünnek a fellegvár elérésekor és számuk nem haladhatja meg a maximális limitet.</li>
  <li>A Pontoknál részletesen kifejtésre kerül a karaván és pont rendszer.</li>
</ol>

<p>Karavánokra vonatkozó szabályok:</p>
<ol>
  <li>A karavánok a sárkány oltártól indulnak 2-3 őrtorony érintésével a fellegvárak felé.</li>
  <li>Amikor a karaván elér egy erődítményt, a birtokosa pontokhoz jut. Ha harc folyik az erődítményért, akkor megvárja a végkimenetelt.</li>
  <li>Magasabb ligákban több karaván áll rendelkezésre. A karavánik eltünnek, amint elérnek egy fellegvárat. Addig nem indulnak új karavánok, amíg a karavánok száma nem csökken a maximális alá.</li>
  <li>Részletek a Pontoknál.</li>
</ol>

<p>Sárkány aréna szabályai:</p>
<ol>
  <li>A seregedből nem veszíthetsz a sárkány arénában, csak kórházba kerülnek. A kórházak kapacitása végteleln.</li>
  <li>A sereged gyógyítása és csapdáid javítása nem emészt fel nyersanygot, de időt vesz igénybe.</li>
  <li>Sérült 1. szintű katonák és csapdák gyógyítása időt vesz igénybe.</li>
  <li>Sérült katonák meggyógyulnak, csapdák megjavítódnak, és falad visszaépül az aréna elhagyásakor.</li>
  <li>Társaiddal nem kereskedhetsz-trade/supply- a sárkány arénában.</li>
  <li>A belépéskor egy védet területre érkezel. Innen nem támadhatnak és támadást nem indíthatsz, de támogathatod-rally- és megerősítheted-reinforcement- társaidat.</li>
  <li>Az első utazás az arénába ingyenes, nem szükséges semmilyen tárgyat használnod.</li>
  <li>Magasabb ligákban meghatározott mennyiségű utazásra van lehetőség. A céh csak az állomások befoglalásával tudja biztosítani az utazásokat, de így sem haladhatja meg a magszimális utazások számát.</li>
  <li>Egyes bizalmasok-familiar- nem használhatóak a sárkány arénában.</li>
  <li>Nem juthatsz nyersanayaghoz. Nem kapsz sem játékos-player-, sem hős-hero- tapasztalatot, amíg a sárkány arénában tartózkodol.</li>
  <li>A vezéreket csak 5 percig tarthatját fogságban az arénában, majd szabadon távozhatnak a fogvatartójuktól.</li>
  <li>Támogatásokra-rally- kevesebb felkészülési idő áll rendelkezésre.</li>
  <li>Az arénában elért teljesítmény nem számít sem a profilod statisztikáiba, sem a céh festiválba-fest-.</li>
</ol>

<h2>Pontok:</h2>

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Karaván</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Sárkányércekkel megpakolt karavánok indulnak a sárkány oltártól a fellegvárakig. Foglald el az útvonalába eső erőfítményeket a pontok szerzéséhez.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Felleg vár elérésénél</td>
      <td align="center">15000</td>
      <td align="center">4000</td>
    </tr>
    <tr>
      <td align="center">Egyébb erődítmények elérésénél</td>
      <td align="center">9000</td>
      <td align="center">3000</td>
    </tr>
  </tfoot>
</table>
<br />

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Fellegvár</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Megerősített építmény, amit a sárkányokkal folytatott harcok során építettek. Kiemelt fontosságú a sárkány arénában.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Első befoglalás</td>
      <td align="center">6000</td>
      <td align="center">1800</td>
    </tr>
    <tr>
      <td align="center">Birtoklás</td>
      <td align="center">1200 / perc</td>
      <td align="center">360 / perc</td>
    </tr>
  </tfoot>
</table>
<br />

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Forrás</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Fáradt sárkányok gyűjtő helye. Birtokos céhnek 50%-kal gyorsítja az seregének gyógyulását-healing-.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Első befoglalás</td>
      <td align="center">3000</td>
      <td align="center">1500</td>
    </tr>
    <tr>
      <td align="center">Birtoklás</td>
      <td align="center">600 / perc</td>
      <td align="center">300 / perc</td>
    </tr>
  </tfoot>
</table>
<br />

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Ősi maradványok</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Hatalmas sárkány maradványai. A birtokos céhnek 50% támadó erőt-atk- fölényt biztosít.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Első befoglalás</td>
      <td align="center">3000</td>
      <td align="center">1500</td>
    </tr>
    <tr>
      <td align="center">Birtoklás</td>
      <td align="center">600 / perc</td>
      <td align="center">300 / perc</td>
    </tr>
  </tfoot>
</table>
<br />

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Állomás</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">5 utazást tesz lehetőve az első begolalás alkalmával és további utasáokat percenként.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Első befoglalás</td>
      <td align="center">1200</td>
      <td align="center">1200</td>
    </tr>
    <tr>
      <td align="center">Birtoklás</td>
      <td align="center">240 / perc</td>
      <td align="center">240 / perc</td>
    </tr>
  </tfoot>
</table>
<br />

<table width="100%">
  <thead>
    <tr>
      <td align="center" colspan="3">Őrtorony</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Az őrtorony emberi épület, stratégia pontként van jelen.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td align="center">Kategória</td>
      <td align="center">Céh pontozás</td>
      <td align="center">Egyéni pontozás</td>
    </tr>
    <tr>
      <td align="center">Első befoglalás</td>
      <td align="center">1200</td>
      <td align="center">1200</td>
    </tr>
    <tr>
      <td align="center">Birtoklás</td>
      <td align="center">240 / perc</td>
      <td align="center">240 / perc</td>
    </tr>
  </tfoot>
</table>
<br /><br /><br />
