<h1>Guild fest</h1>

<h3>Szabályok:</h3>
<ul>  <li>25 szintű fő várak esetén a feladatokra eső elvárt minimális pontszám 120</li>
  <li>Minden 15. szintet elért vagy nagyonbb vár esetén elvárt minimális pontszám összesen 1000</li>
  <li>Az elvégezhető feladatok száma véges. Az utolsó feladat elvégzése 1000 gemért elvárt.</li>
  <li>Ha valakinek problémája merül fel egy feladattal kapcsolatban, chat-n kérjen segítséget.</li>
  <li><b>Ha nem tudsz részt venni, akkor jelezd körlevélben vagy R4-nek lehetőleg a feszt kezdete előtt, hogy a kizárást elkerüljük.</b></li>
  <li>Aki a fenti elvárásokat nem teljesíti, és továbbá nem is próbálja erejének megfelelően a lemaradását pótolni, a céhből több napos kizárásra számíthat a jutalomból történő kizárás véget</li>
</ul>

<h2>Beles 05 O levele alapján.</h2>

<h3>Feladatok:</h3>
<ul>
  <li>Cargo Ship Trades: hajón kill beválltani az adott mennyiséget ( érdemes fesztre megtartani a familiar[ Totempest: Ship Ahoy ] képességet )</li>
  <li>Clear a Full LV5 Resource Tile: adott mennyiségű LV5 bányát kell kiszedni ( megszakítani nem lehet )</li>
  <li>Colosseum Battles: adott mennyiségű csatát kell a colosseumban vívni ( nem kell megnyerni )</li>
  <li>Colosseum Rank Up: adott helyezést kell előre lépni a colosseumban</li>
  <li>Complete Admin Quest: admin questet kell nyitni</li>
  <li>Complete Guild Quest: guild questet kell nyitni</li>
  <li>Complete Hero Stages: hero pályát kell csniálni ( a már befejezettet is számolja )</li>
  <li>Complete Phase 3 Hell Events: adott mennyiségű hell eventet kell maxolni</li>
  <li>Complete Phase 3 Solo Events: adott mennyiségű solo eventet kell maxolni</li>
  <li>Complete VIP Quests: VIP ládákat kell kinyitni</li>
  <li>Encounter Labyrinth Guardians: a BOSS-t ( gem manó ) kell előcsalni</li>
  <li>Forge equipment: adott mennyiségű ruhát kell gyártani ( az upgrade is számít )</li>
  <li>Gather: bányászás ( FOOD: búza; ORE: érc; WOODS: fa; ROCKS: kő; GOLD: arany; RESOURCES: bármi )</li>
  <li>Get Dark Essences: adott mennyiségű essencet kell gyűjteni ( ne felejts törölni )</li>
  <li>Get LV19+ Dark Essences: 19+ os essencet kell gyűjteni</li>
  <li>Heal Wounded Soldiers: katonákat kell gyógyítani</li>
  <li>Hit Monsters: szörnyeket kell ütni ( érdemes LV1-es szörnyet ütni, mert ahhoz kell a legkevesebb energy )</li>
  <li>Incrase Might ( Quest ): mightot kell növelni ( a turf questet számolja csak )</li>
  <li>Incrase Might ( Research ): mightot kell növelni kutatással</li>
  <li>Incrase Might ( Troops ): mightot kell növelni katona gyártással</li>
  <li>Incrase Might Hero: mightot kell növelni hős fejlesztéssel ( két hős liláról aranyra húzása kell hozzá )</li>
  <li>Incrase Total Might: mightot kell növelni bármivel ( gyógyítás nem számít )</li>
  <li>Merge Pacts: merge pactot kell gyártani ( érdemes 1a vagy 1b-t, mert ahoz kell a legkevesebb idő )</li>
  <li>Merge Skillstones: skillstone gyártás</li>
  <li>Open Mystery Boxes: mystery box nyitás ( az vállalja aki sűrűn fel tud nézni, mert feszt alatt szarul adja )</li>
  <li>Purchase Special Bundles: speciális csomagokat kell vásárolni pénzért</li>
  <li>Random Quest: bármilyen feladat ( Lásd alul )</li>
  <li>Rank In Top70 Hell Event: összesítésben top 70-be kell lenned</li>
  <li>Rank In Top70 Solo Event: összesítésben top 70-be kell lenned</li>
  <li>Research Tech: kutatást kell befejezned ( érdemes rövid, kis kutatásokat indítani )</li>
  <li>Send Help To Your Guildmates: helpekre kell nyomnod</li>
  <li>Spend Gems: gem költés</li>
  <li>Spend Guild Coins: guild coin költés</li>
  <li>Supply: nyersanyag küldés ( FOOD: búza; ORE: érc; WOODS: fa; ROCKS: kő; GOLD: arany; RESOURCES: bármi ) oda-vissza küldözgess valakivel, akkor kevesebb nyersit kell felhasználni</li>
  <li>Time Reduced Using Speed Up Merging: speedelni ( gyorsítani ) kell merge gyártást</li>
  <li>Time Reduced Using Speed Ups: speedelni ( gyorsítani ) kell bármit. ( fejlesztés, építés, gyógyítás, fal, stb. )</li>
  <li>Train Soldiers: katonát kell gyártani ( T1-el jársz a legjobban, ahhoz kell a legkevesebb nyersi és idő )</li>
  <li>Use Familiar Attack Skills: familiarissal kell támadni</li>
  <li>Use Fragment: fragmenteket kell elhasználni familiaris fejlesztésre</li>
  <li>Use Holy Stars: megadott holy-t kell használni</li>
  <li>Use The Turf Boost: adott termelési boostot kell használni</li>
  <li>Win Darknest Coalition Battles ( Rally Capitain Only ): általad indított darkot kell nyerni ( az essence nem érdekes )</li>
  <li>Familiar EXP növelés: familiaris fejlesztése adott ponttal ( csak az exp potiont és az elixirt számolja )</li>
</ul>

<h3>Random Quest:</h3>
<ol>
  <li>
    RANDOM QUEST 125 pont ( 1 NAP )
    <ul>
      <li>Spend Guild Coins 400,000</li>
      <li>Spend Gems 15,000</li>
      <li>Use Holy Stars 12,000</li>
      <li>Complete Admin Quests 120</li>
      <li>Complete Guild Quests 120</li>
      <li>Send Help 60</li>
      <li>Cargo Ship Trades 12</li>
      <li>Open Mystery Boxes 20</li>
      <li>Hit Monsters 45</li>
      <li>Gather Resources 20,000,000</li>
      <li>Complete Hero Stages 20</li>
      <li>Complete Phase 3 ( Hell Events ) 1x</li>
      <li>Rank in Top70 for Solo Events 1x</li>
      <li>Incrase Total Might 1,200,000</li>
      <li>Incrase Might ( Research ) 1,200,000</li>
      <li>Purcashe Special Bundles 2x</li>
    </ul>
  </li>
  <li>
    RANDOM QUEST 150 pont ( 2 NAP )
    <ul>
      <li>Spend Guild Coins 600,000</li>
      <li>Spend Gems 25,000</li>
      <li>Use Holy Stars 25,000</li>
      <li>Complete Admin Quests 150</li>
      <li>Complete Guild Quests 150</li>
      <li>Send Help 75</li>
      <li>Cargo Ship Trades 16</li>
      <li>Open Mystery Boxes 25</li>
      <li>Hit Monsters 65</li>
      <li>Gather Resources 25,000,000</li>
      <li>Complete Hero Stages 30</li>
      <li>Complete Phase 3 ( Hell Events ) 2x</li>
      <li>Rank in Top70 for Hell Events 1x</li>
      <li>Rank in Top70 for Solo Events 1x</li>
      <li>Incrase Total Might 1,500,000</li>
      <li>Incrase Might ( Research ) 1,500,000</li>
      <li>Purcashe Special Bundles 3x</li>
    </ul>
  </li>
  <li>
    RANDOM QUEST 175 pont ( 3 NAP )
    <ul>
      <li>Spend Guild Coins 900,000</li>
      <li>Spend Gems 50,000</li>
      <li>Use Holy Stars 35,000</li>
      <li>Complete Admin Quests 200</li>
      <li>Complete Guild Quests 200</li>
      <li>Send Help 90</li>
      <li>Cargo Ship Trades 20</li>
      <li>Open Mystery Boxes 35</li>
      <li>Hit Monsters 80</li>
      <li>Gather Resources 30,000,000</li>
      <li>Complete Hero Stages 60</li>
      <li>Complete Phase 3 ( Hell Events ) 3x</li>
      <li>Rank in Top70 for Hell Events 2x</li>
      <li>Rank in Top70 for Solo Events 2x</li>
      <li>Incrase Total Might 2,000,000</li>
      <li>Incrase Might ( Research ) 2,000,000</li>
      <li>Purcashe Special Bundles 7x</li>
    </ul>
  </li>
  <li>
    RANDOM QUEST 200 pont ( 4 NAP )
    <ul>
      <li>Spend Guild Coins 1,200,000</li>
      <li>Spend Gems 100,000</li>
      <li>Use Holy Stars 50,000</li>
      <li>Complete Admin Quests 250</li>
      <li>Complete Guild Quests 250</li>
      <li>Send Help 120</li>
      <li>Cargo Ship Trades 32</li>
      <li>Open Mystery Boxes 45</li>
      <li>Hit Monsters 130</li>
      <li>Gather Resources 45,000,000</li>
      <li>Complete Hero Stages 100</li>
      <li>Complete Phase 3 ( Hell Events ) 5x</li>
      <li>Rank in Top70 for Hell Events 4x</li>
      <li>Rank in Top70 for Solo Events 3x</li>
      <li>Incrase Total Might 3,000,000</li>
      <li>Incrase Might ( Research ) 3,000,000</li>
      <li>Purcashe Special Bundles 10x</li>
    </ul>
  </li>
</ol>
